.table {
    display: flex;
    flex: 1 1 20%;
    justify-content: space-around;
}

.name {
    display: flex;
    flex: 1 1 10%;
    text-align: start;
    background-color: rgba(105, 105, 105, 0.43);
}

.age {
    display: flex;
    justify-content: stretch;
    flex: 1 1 35%;
    background-color: rgba(119, 136, 153, 0.82);
}

.button{
    display: flex;
}